fiona-custom/scripts/*
*.cache
aaaaaaaaaa_loadfirst_tf2_bot_detector/*
aaaaaaaaaa_votefailed_eraser_v2/*
CleanTF2plus-master.zip
CleanTF2plus-master.7z
*/resource/ui/matchmakingpingpanel.res
mastercomfig-opengl-addon.vpk
